@font-face { font-family: "SF Pro Text";
    font-style: normal;
    font-weight: 600;
     src: url(“./sf/SF-Pro-Text-Bold.otf”) format(“otf”);}





header{
 display: flex;
 height: 76px;
 align-items: center;
    
 .container{
     display: flex;
     justify-content: space-between;
    align-items: center;

    padding: 0px !important;
    

 }
 section{
     display: flex;

    .logo{
        cursor: pointer;
    }

     &:first-child{
         width: 478.75px;
         display: flex;
         justify-content: space-between;

         .navigation{
            display: flex;
 
        
            nav{
                display: flex;
                justify-content: space-between;
                align-items: center;
                ul{
                    display: flex;
                    padding: 0px;
                    margin: 0px;
                    width: 395px;
                    justify-content: space-between;
                   
                  
                    li{
                        display: flex;
                        cursor: pointer;
                    }
                    a{
                        display: flex;
                        color: grey;
                        font-weight: 500;
                        font-family: "SF Pro Text";
                        font-size: 16px;
                        line-height: 24px;
                        text-decoration: none;
                
                        &:hover{
                            color:grey;
    
                        }
                    }
                }

            }
        }   
     }

     &:last-child{
        
         width: auto;
         ul{
             display: flex;
             margin:0px;
             padding:0px;
            min-width: 212px;
            justify-content: space-between;
            align-items: center;
            li{
                display: flex;
                a{
                    text-decoration: none;
                    color: grey;
                    font-family: "SF Pro Text";
                    
                }

                &:last-child{
                   

                    width: 141px;
                    height: 44px;
                    background: #111827;
                    border-radius: 3px;
                    align-items: center;
                    justify-content: center;
                    a{
                        font-family: "SF Pro Text";
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 24px;
                        color: white;

                   
                    
                    }
                }
            }
         }
     }

 }
}

main{
    height: auto;
    overflow-x: hidden;
    section{

      min-height: 642px;
     
    }
    .container{
        display: flex;
    
        padding-bottom: 104px;
        padding-top: 136px;
        padding-left: 0px;
        padding-right: 0px;
        justify-content: center;
        margin: auto;
        justify-content: space-between;

     

    }

    .left-side{
        width: 600px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 374px;


        .text{
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            height: 224px;

            p{
                display: flex;
               font-family: "SF Pro Text"   ;
                font-weight: 400;
                line-height: 28px;
                color: gray;
                font-style: normal;
               font-size: 20px;
                margin: 0px;
           
            }
       
          

        }
        .Sign-up{
            display: flex;
            flex-direction: column;
   
            justify-content: space-between;

            form{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 512px;
                height: 118px;

                label{
                   
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 24px;
                }

                .forms{
                    display: flex;
                    justify-content: space-between;

                    input{
                        width:353px;
                        height: 50px;
                        border-radius: 6px;
                       padding: 13px;
                       border: 1px solid grey;

                       &:focus{
                        outline: none;
                       }

                       &::placeholder{
                        font-family: Inter;
                        font-weight: 400;
                        font-size: 16px;
                       }
                    }

                    .button{
                        width: 147px;
                    }

                    button{
                        position: relative;
                        width: 141px;
                        height: 44px;
                        border-radius: 3px;
                        background:#111827;
                        color:white;

                        &::before{
                            position: absolute;
                            content: "";
                            width: 141px;
                            height: 44px;
                            border-radius: 3px;
                            z-index: -1;
                            background: linear-gradient(90deg,#B16CEA  33.85%
                            #FF5E69 55.21%,
                            #FF8A56  78.13%,
                            #FFA84B  100%);
                            margin-top: 6px;
                            margin-left: 6px;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;;
                        }
               

                    }
                }
                .notice{
      
                    p{
                        margin: 0px;
                        padding: 0px;
                        color: grey;
                        font-family: 'Inter';
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 20px;    
                        color: grey;
                        a{  
                            font-style: bold;
                            color: #111827;
                            padding-left:6px;
                        }
                    
                    
                    }
                }
            }
        }
    }

    .right-side{
    
        width: 600px;
        display: flex;
        position: relative;
        
        img{
            position: absolute;
            padding: 52px 76px 51px 76px;
        }

        &::after{
            position: absolute;
           content: url("../Images/Plate.png");
            margin-left: 204px;
            top: -88px;
           z-index: -99;
        }
    }

 
     h1{
         color: #111827;
         font-weight: 800;
         font-size: 60px;
         margin: 0px;
         font-family: SF Pro Display;
         line-height: 60px;
         strong{
            background-image: linear-gradient(90deg,#B16CEA  33.85%
            #FF5E69 55.21%,
            #FF8A56  78.13%,
            #FFA84B  100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color:transparent;
            
         }
     }

      .container-xxl{
        display: flex;
        justify-content: center;
        }
        .second-page{
            min-height: 1050px;
            background: #111827;
            background-image: url("../Images/Vector.png") !important;
            background-repeat: no-repeat !important;
            .container{
                    display: flex;
                    justify-content: center;
                }
            .feature{
                    display: flex;
                    min-height: 666px;
                    width: 1216px;
                    margin: auto;
                    justify-content: space-between;
                    flex-direction: column;
                    align-items: center;
            
                    .header{
                        max-width: 678px;
                        width: 678px;
                        height: 88px;
                        min-height: 88px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        h2{ 
                            display: flex;
                            font-family: SF Pro text;
                            font-weight: 700;
                            font-size: 18px;
                            line-height: 18px;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: space-between;
                            background-image: linear-gradient(90deg,#B16CEA  33.85%
                            #FF5E69 55.21%,
                            #FF8A56  78.13%,
                            #FFA84B  100%);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color:transparent;
                            letter-spacing: 1px;
                            margin: 0px;
                            padding: 0px;
                        }

                        span{
                            font-family: 'SF Pr Display';
                            font-weight: 800;
                            font-size: 54px;
                            letter-spacing: -2.25%;
                            color: white;
                        }
                    }

                    .feature_points{
                        display: flex;
                        max-width: 1216px;
                        width: 1216px;
                        min-height: 538px;
                        justify-content: space-between;

                    article{
                        background: white;
                    }
      

                    .feature-logo{
                        display: flex;
                        img{
                            width: 32px;
                            height: 32px;
                        }
                    }
                    h3{ 
                        display: flex;
                        font-family:"SF Pro Text";
                        font-size: 20px;
                        font-weight: 600;
                        line-height: 26px;
                    }
                    p{
                        display: flex;
                        margin: 0px;
                        padding: 0px;
                        font-family:"SF Pro Text";
                        font-size: 14px;
                        margin: 0px;
                        font-weight: 400;
                        line-height: 20px;
                        color: #49545C;

                    }
                    .col-one , .col-two{
                        max-width: 288px;
                        width: 288px;
                        height: 538px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: center;
  

                    .feature-logo{
                        display: flex;
                
                    }

                    .Email-notification{
           
                        height: 274px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        padding: 32px;
                        border-radius: 12px;
                
                    .e-desc{
                        display: flex;
                        justify-content: space-between;
                        flex-direction: column;
                    }
               
                }

                .Rich-Model{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    padding:42px 32px 32px  32px;
                    height: 240px;
                    border-radius: 12px;
            
                    .r-desc{
                        h3{
                        margin-bottom: 4px;
                        }
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                    }
        }

        .comments{
                    height: 214px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    padding: 32px;
                    border-radius: 12px;
                }
                .multilanguage{
                    height:300px ;
                    display: flex;   
                    flex-direction: column;
                    justify-content: space-between;                 
                    border-radius: 12px;
                    padding: 32px;
                }
               
        }

        .col-three{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            max-width: 592px;
            width: 592px;
            height: 538px;
            
        article{
            &:last-child{
                background:#111827;
           
                display: flex;
                padding: 0px;
                height: 260px;
                align-items: center;
                
                
                 .share-views{
                    width: 288px;
                    height: 260px;
                    display: flex;
                    flex-direction: column;
                   
                    padding: 32px;
                    background: white;
                    border-radius: 12px;
                  
                .log-logo{
                    display: flex;
                    img{
                        width: 32px;
                        height: 32px;
                    }
                }
            }

            .frame{
           
           
               width: 300px;
               height: 174px;
               display: flex;
               justify-content: center;

               .update-frame{
                display: flex;
                height: 100%;
                width: 224px;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                border: 1px solid white;
                
                img{
                    
                }
                h3{
                    font-family: "SF Pro text";
                    color: white;
                    text-align: center;
                    margin-bottom: 0px;
              
                }
                a{
                    font-family:"SF Pro Text";
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 24px;
                    background-image: linear-gradient(90deg,#B16CEA  33.85%
                    #FF5E69 55.21%,
                    #FF8A56  78.13%,
                    #FFA84B  100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color:transparent;
                }
            }
        }
    }
}
            

    .team-support{
                display: flex;
                flex-direction: row;
           
                height: 254px;
                width: 592px;
                border-radius: 12px;
                justify-content: space-between;
                padding:32px;

                .log-logo{
                    display: flex;
                    width: 272px;
                    height: 190px ;
                    object-fit: contain;
                }
                .t-desc{
                    
                    display: flex;
                    flex-direction: column;
                    width: 224px;
                    justify-content: space-between;
                }
            }
        }
    }
    }

}

.loop{
    min-height: 612px;
    display: flex;
    border: 1px solid;
    display: flex;
    justify-content: center;
    .container{
        display: flex;
        border: 1px solid;
        width: 1280px!important;
        justify-content: center;

        .loop-points{
            width: 1216px;
            min-height: 420px;
            display: flex;
            justify-content: space-between;
            border: 1px solid;
            .loop-image{
              width: 588px;
              height: 374px;
              display: flex;
              justify-content: flex-end;
              border: 1px solid;

            }

            .loop-features{
                width: 588px;
                min-height: 420px;
                border: 1px solid ;   

            }
            h4{
                font-family: 'Inter';
                font-weight: 800;
                font-size: 30px;
                line-height: 36px;
                letter-spacing: -2.25%;
                min-height: 132px;
                border: 1px solid;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                

                p{
                    font-family: 'Inter', sans-serif;
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 28px;
                        letter-spacing: 0em;
                        color: #6B7280;
                        margin: 0px;
                       

                }
   
             
                
            }
            h5{
                font-family: "Inter";
                font-size: 18px;
                font-weight: 500;
                border: 1px solid;
                
            }


          
        }
       
    }
}

}









