@charset "UTF-8";
@font-face {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 600;
  src: url(“./sf/SF-Pro-Text-Bold.otf”) format(“otf”);
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 76px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px !important;
}

header section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header section .logo {
  cursor: pointer;
}

header section:first-child {
  width: 478.75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header section:first-child .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header section:first-child .navigation nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header section:first-child .navigation nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  margin: 0px;
  width: 395px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header section:first-child .navigation nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

header section:first-child .navigation nav ul a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: grey;
  font-weight: 500;
  font-family: "SF Pro Text";
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}

header section:first-child .navigation nav ul a:hover {
  color: grey;
}

header section:last-child {
  width: auto;
}

header section:last-child ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px;
  padding: 0px;
  min-width: 212px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header section:last-child ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header section:last-child ul li a {
  text-decoration: none;
  color: grey;
  font-family: "SF Pro Text";
}

header section:last-child ul li:last-child {
  width: 141px;
  height: 44px;
  background: #111827;
  border-radius: 3px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header section:last-child ul li:last-child a {
  font-family: "SF Pro Text";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: white;
}

main {
  height: auto;
  overflow-x: hidden;
}

main section {
  min-height: 642px;
}

main .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 104px;
  padding-top: 136px;
  padding-left: 0px;
  padding-right: 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .left-side {
  width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 374px;
}

main .left-side .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 224px;
}

main .left-side .text p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "SF Pro Text";
  font-weight: 400;
  line-height: 28px;
  color: gray;
  font-style: normal;
  font-size: 20px;
  margin: 0px;
}

main .left-side .Sign-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .left-side .Sign-up form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 512px;
  height: 118px;
}

main .left-side .Sign-up form label {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

main .left-side .Sign-up form .forms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .left-side .Sign-up form .forms input {
  width: 353px;
  height: 50px;
  border-radius: 6px;
  padding: 13px;
  border: 1px solid grey;
}

main .left-side .Sign-up form .forms input:focus {
  outline: none;
}

main .left-side .Sign-up form .forms input::-webkit-input-placeholder {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
}

main .left-side .Sign-up form .forms input:-ms-input-placeholder {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
}

main .left-side .Sign-up form .forms input::-ms-input-placeholder {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
}

main .left-side .Sign-up form .forms input::placeholder {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
}

main .left-side .Sign-up form .forms .button {
  width: 147px;
}

main .left-side .Sign-up form .forms button {
  position: relative;
  width: 141px;
  height: 44px;
  border-radius: 3px;
  background: #111827;
  color: white;
}

main .left-side .Sign-up form .forms button::before {
  position: absolute;
  content: "";
  width: 141px;
  height: 44px;
  border-radius: 3px;
  z-index: -1;
  background: -webkit-gradient(linear, left top, right top, color-stop(33.85%, #B16CEA), color-stop(78.13%, #FF8A56), to(#FFA84B));
  background: linear-gradient(90deg, #B16CEA 33.85% #FF5E69 55.21%, #FF8A56 78.13%, #FFA84B 100%);
  margin-top: 6px;
  margin-left: 6px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

main .left-side .Sign-up form .notice p {
  margin: 0px;
  padding: 0px;
  color: grey;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: grey;
}

main .left-side .Sign-up form .notice p a {
  font-style: bold;
  color: #111827;
  padding-left: 6px;
}

main .right-side {
  width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

main .right-side img {
  position: absolute;
  padding: 52px 76px 51px 76px;
}

main .right-side::after {
  position: absolute;
  content: url("../Images/Plate.png");
  margin-left: 204px;
  top: -88px;
  z-index: -99;
}

main h1 {
  color: #111827;
  font-weight: 800;
  font-size: 60px;
  margin: 0px;
  font-family: SF Pro Display;
  line-height: 60px;
}

main h1 strong {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(33.85%, #B16CEA), color-stop(78.13%, #FF8A56), to(#FFA84B));
  background-image: linear-gradient(90deg, #B16CEA 33.85% #FF5E69 55.21%, #FF8A56 78.13%, #FFA84B 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

main .container-xxl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .second-page {
  min-height: 1050px;
  background: #111827;
  background-image: url("../Images/Vector.png") !important;
  background-repeat: no-repeat !important;
}

main .second-page .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .second-page .feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 666px;
  width: 1216px;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .second-page .feature .header {
  max-width: 678px;
  width: 678px;
  height: 88px;
  min-height: 88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .second-page .feature .header h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: SF Pro text;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(33.85%, #B16CEA), color-stop(78.13%, #FF8A56), to(#FFA84B));
  background-image: linear-gradient(90deg, #B16CEA 33.85% #FF5E69 55.21%, #FF8A56 78.13%, #FFA84B 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 1px;
  margin: 0px;
  padding: 0px;
}

main .second-page .feature .header span {
  font-family: 'SF Pr Display';
  font-weight: 800;
  font-size: 54px;
  letter-spacing: -2.25%;
  color: white;
}

main .second-page .feature .feature_points {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1216px;
  width: 1216px;
  min-height: 538px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .second-page .feature .feature_points article {
  background: white;
}

main .second-page .feature .feature_points .feature-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .second-page .feature .feature_points .feature-logo img {
  width: 32px;
  height: 32px;
}

main .second-page .feature .feature_points h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "SF Pro Text";
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
}

main .second-page .feature .feature_points p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px;
  padding: 0px;
  font-family: "SF Pro Text";
  font-size: 14px;
  margin: 0px;
  font-weight: 400;
  line-height: 20px;
  color: #49545C;
}

main .second-page .feature .feature_points .col-one, main .second-page .feature .feature_points .col-two {
  max-width: 288px;
  width: 288px;
  height: 538px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .second-page .feature .feature_points .col-one .feature-logo, main .second-page .feature .feature_points .col-two .feature-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .second-page .feature .feature_points .col-one .Email-notification, main .second-page .feature .feature_points .col-two .Email-notification {
  height: 274px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 32px;
  border-radius: 12px;
}

main .second-page .feature .feature_points .col-one .Email-notification .e-desc, main .second-page .feature .feature_points .col-two .Email-notification .e-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .second-page .feature .feature_points .col-one .Rich-Model, main .second-page .feature .feature_points .col-two .Rich-Model {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 42px 32px 32px  32px;
  height: 240px;
  border-radius: 12px;
}

main .second-page .feature .feature_points .col-one .Rich-Model .r-desc, main .second-page .feature .feature_points .col-two .Rich-Model .r-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .second-page .feature .feature_points .col-one .Rich-Model .r-desc h3, main .second-page .feature .feature_points .col-two .Rich-Model .r-desc h3 {
  margin-bottom: 4px;
}

main .second-page .feature .feature_points .col-one .comments, main .second-page .feature .feature_points .col-two .comments {
  height: 214px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 32px;
  border-radius: 12px;
}

main .second-page .feature .feature_points .col-one .multilanguage, main .second-page .feature .feature_points .col-two .multilanguage {
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 12px;
  padding: 32px;
}

main .second-page .feature .feature_points .col-three {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 592px;
  width: 592px;
  height: 538px;
}

main .second-page .feature .feature_points .col-three article:last-child {
  background: #111827;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  height: 260px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .second-page .feature .feature_points .col-three article:last-child .share-views {
  width: 288px;
  height: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 32px;
  background: white;
  border-radius: 12px;
}

main .second-page .feature .feature_points .col-three article:last-child .share-views .log-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .second-page .feature .feature_points .col-three article:last-child .share-views .log-logo img {
  width: 32px;
  height: 32px;
}

main .second-page .feature .feature_points .col-three article:last-child .frame {
  width: 300px;
  height: 174px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .second-page .feature .feature_points .col-three article:last-child .frame .update-frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 224px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid white;
}

main .second-page .feature .feature_points .col-three article:last-child .frame .update-frame h3 {
  font-family: "SF Pro text";
  color: white;
  text-align: center;
  margin-bottom: 0px;
}

main .second-page .feature .feature_points .col-three article:last-child .frame .update-frame a {
  font-family: "SF Pro Text";
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(33.85%, #B16CEA), color-stop(78.13%, #FF8A56), to(#FFA84B));
  background-image: linear-gradient(90deg, #B16CEA 33.85% #FF5E69 55.21%, #FF8A56 78.13%, #FFA84B 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

main .second-page .feature .feature_points .col-three .team-support {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 254px;
  width: 592px;
  border-radius: 12px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 32px;
}

main .second-page .feature .feature_points .col-three .team-support .log-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 272px;
  height: 190px;
  -o-object-fit: contain;
     object-fit: contain;
}

main .second-page .feature .feature_points .col-three .team-support .t-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 224px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .loop {
  min-height: 612px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .loop .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid;
  width: 1280px !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .loop .container .loop-points {
  width: 1216px;
  min-height: 420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid;
}

main .loop .container .loop-points .loop-image {
  width: 588px;
  height: 374px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border: 1px solid;
}

main .loop .container .loop-points .loop-features {
  width: 588px;
  min-height: 420px;
  border: 1px solid;
}

main .loop .container .loop-points h4 {
  font-family: 'Inter';
  font-weight: 800;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: -2.25%;
  min-height: 132px;
  border: 1px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .loop .container .loop-points h4 p {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  color: #6B7280;
  margin: 0px;
}

main .loop .container .loop-points h5 {
  font-family: "Inter";
  font-size: 18px;
  font-weight: 500;
  border: 1px solid;
}
/*# sourceMappingURL=styles.css.map */